@model FPT_Trainning.Models.Course
@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<h2>Task Details</h2>

@Html.ActionLink("Back to My Courses", "Index", "Courses",
    null,
    new { @class = "btn btn-primary" })

<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.Description</li>
</ul>


