<div style="display:flex; align-items:center; justify-content: center; color:blueviolet">
    <h1>WELLCOME TO FPT TRAINING SYSTEM</h1>
</div>
@model IEnumerable<FPT_Trainning.Models.Course>
@{ ViewBag.Title = "Index"; }
@if (User.IsInRole("TRAINEE"))
{
    <h2 style="margin-left: 20px; padding-bottom: 20px">List Course Available</h2>
    <table class="table table-bordered" , style="margin-left: 20px">
        <thead>
            <tr style="background-color:burlywood ;color:black; text-align:center; font-weight:bold">
                <th>Course #</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr style="color:black; text-align:center">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Category.Name</td>
                    </tr>
                }
            }

        </tbody>
    </table>
}
